/* You can easily customize the theme using below tool and update below variables */
/* https://tweakcn.com/editor/theme */
:root {
  --background: #fdfbf7;
  --foreground: #4a3b33;
  --card: #f8f4ee;
  --card-foreground: #4a3b33;
  --popover: #f8f4ee;
  --popover-foreground: #4a3b33;
  --primary: #b45309;
  --primary-foreground: #ffffff;
  --secondary: #e4c090;
  --secondary-foreground: #57534e;
  --muted: #f1e9da;
  --muted-foreground: #78716c;
  --accent: #f2daba;
  --accent-foreground: #57534e;
  --destructive: #991b1b;
  --destructive-foreground: #ffffff;
  --border: #e4d9bc;
  --input: #e4d9bc;
  --ring: #b45309;
  --chart-1: #b45309;
  --chart-2: #78716c;
  --chart-3: #a16207;
  --chart-4: #78716c;
  --chart-5: #ca8a04;
  --sidebar: #f1e9da;
  --sidebar-foreground: #4a3b33;
  --sidebar-primary: #b45309;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #a16207;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e4d9bc;
  --sidebar-ring: #b45309;
  --font-sans: Oxanium, sans-serif;
  --font-serif: Inter, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-sm:
    0px 2px 3px 0px hsl(28 18% 25% / 0.18),
    0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow:
    0px 2px 3px 0px hsl(28 18% 25% / 0.18),
    0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow-md:
    0px 2px 3px 0px hsl(28 18% 25% / 0.18),
    0px 2px 4px -1px hsl(28 18% 25% / 0.18);
  --shadow-lg:
    0px 2px 3px 0px hsl(28 18% 25% / 0.18),
    0px 4px 6px -1px hsl(28 18% 25% / 0.18);
  --shadow-xl:
    0px 2px 3px 0px hsl(28 18% 25% / 0.18),
    0px 8px 10px -1px hsl(28 18% 25% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1c1917;
  --foreground: #f5f5f4;
  --card: #292524;
  --card-foreground: #f5f5f4;
  --popover: #292524;
  --popover-foreground: #f5f5f4;
  --primary: #f97316;
  --primary-foreground: #ffffff;
  --secondary: #57534e;
  --secondary-foreground: #e7e5e4;
  --muted: #292524;
  --muted-foreground: #a8a29e;
  --accent: #1e4252;
  --accent-foreground: #e7e5e4;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: #44403c;
  --input: #44403c;
  --ring: #f97316;
  --chart-1: #f97316;
  --chart-2: #0ea5e9;
  --chart-3: #eab308;
  --chart-4: #a8a29e;
  --chart-5: #78716c;
  --sidebar: #292524;
  --sidebar-foreground: #f5f5f4;
  --sidebar-primary: #f97316;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #0ea5e9;
  --sidebar-accent-foreground: #0c2a4d;
  --sidebar-border: #44403c;
  --sidebar-ring: #f97316;
  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow:
    0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
