/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.6513rem + 0.1919vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7652rem + 0.303vw, 1rem);
  --step-0: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0517rem + 0.6591vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.2301rem + 0.933vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.4362rem + 1.2971vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.6734rem + 1.7785vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 1.9457rem + 2.4116vw, 3.8147rem);
}

@theme inline {
  --text-h6: var(--step-0);
  --text-h6-sm: var(--step--1);

  --text-h5: var(--step-1);
  --text-h5-sm: var(--step-0);

  --text-h4: var(--step-2);
  --text-h4-sm: var(--step-1);

  --text-h3: var(--step-3);
  --text-h3-sm: var(--step-2);

  --text-h2: var(--step-4);
  --text-h2-sm: var(--step-3);

  --text-h1: var(--step-5);
  --text-h1-sm: var(--step-4);

  --text-base: var(--step-0);
  --text-base-sm: var(--step--1);
}
