/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.684rem + 0.0465vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.8061rem + 0.1212vw, 0.9rem);
  --step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.1156rem + 0.375vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.31rem + 0.5778vw, 1.7578rem);
  --step-3: clamp(1.728rem, 1.536rem + 0.8532vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.7983rem + 1.2236vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.1018rem + 1.718vw, 3.4332rem);
}

@theme inline {
  --text-h6: var(--step-0);
  --text-h6-sm: var(--step--1);

  --text-h5: var(--step-1);
  --text-h5-sm: var(--step-0);

  --text-h4: var(--step-2);
  --text-h4-sm: var(--step-1);

  --text-h3: var(--step-3);
  --text-h3-sm: var(--step-2);

  --text-h2: var(--step-4);
  --text-h2-sm: var(--step-3);

  --text-h1: var(--step-5);
  --text-h1-sm: var(--step-4);

  --text-base: var(--step-0);
  --text-base-sm: var(--step--1);
}
