/* customize typography using below link and update root variables */
/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,16,1.25,5,2,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.64rem, 0.7167rem + -0.099vw, 0.6944rem);
  --step--1: clamp(0.8rem, 0.847rem + -0.0606vw, 0.8333rem);
  --step-0: clamp(1rem, 1rem + 0vw, 1rem);
  --step-1: clamp(1.2rem, 1.1795rem + 0.0909vw, 1.25rem);
  --step-2: clamp(1.44rem, 1.3899rem + 0.2227vw, 1.5625rem);
  --step-3: clamp(1.728rem, 1.6359rem + 0.4093vw, 1.9531rem);
  --step-4: clamp(2.0736rem, 1.9231rem + 0.6687vw, 2.4414rem);
  --step-5: clamp(2.4883rem, 2.2578rem + 1.0244vw, 3.0518rem);
}

@theme inline {
  --text-h6: var(--step-0);
  --text-h6-sm: var(--step--1);

  --text-h5: var(--step-1);
  --text-h5-sm: var(--step-0);

  --text-h4: var(--step-2);
  --text-h4-sm: var(--step-1);

  --text-h3: var(--step-3);
  --text-h3-sm: var(--step-2);

  --text-h2: var(--step-4);
  --text-h2-sm: var(--step-3);

  --text-h1: var(--step-5);
  --text-h1-sm: var(--step-4);

  --text-base: var(--step-0);
  --text-base-sm: var(--step--1);
}
